<% provide(:title, @title) %>
<div class="container show-follow-container">
  <h1 class="text-center"><%= @title %></h1>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="stats">
        <%= render 'devise/shared/stats' %>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-3">
      <ol class="topics">
      <% if @users.any? %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
      <% end %>
      </ol>
    </div>
  </div>
</div>
