@import "bootstrap-sprockets";
@import "bootstrap";

/* topページ  pages_index*/

h1, h2 {
    font-weight: 100;
  }
  
  .text-white {
    color: #fff;
  }
  
  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #fff;
    }
  }
  
  .top-hero-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("S__24707084.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }

  .top-hero-container {
    padding-top: 220px;
    h1 {
      font-size: 80px;
      margin-bottom: 20px;
    }
  
    h2 {
      margin-bottom: 60px;
    }
  }

  /* header*/
  
  .navbar-transparent {
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    a {
      color: #fff !important;
    }
  
    .navbar-brand {
      padding: 0px;
      margin-top: 15px;
    }
  }
  /* footer */
  footer {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    background-color: #000;
  }
  
  .footer-item {
    font-size: 0.8em;
    line-height: 1.7em;
  }
  /* sign up,login,edit*/

  .form-control {
    height: 45px;
  }
  
  .users-new-wrapper{
    width: 100vw;
    height: 130vh;
    background-image: image-url("S__24707084.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  
    .users-new-container {
      padding-top: 100px;
  
      .field {
        margin-bottom: 20px;
        color: #fff;
      }
    }
  }
 
  /* errors_messages*/

  #error_explanation{
    h2{
      color:red;
      font-size: 1em;
    }
  }
  .errors{
    color: red;
  }
  /* 新規投稿ページ*/
  .btn-black {
    margin-top: 20px;
    color: #565656;
    border: 1px solid #565656;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #565656;
    }
  }
  
  .topic-new-wrapper {
    padding-top: 50px;
  }
  /* 投稿一覧ページ(ホーム) */
  .topic-index-wrapper {
    padding-top: 70px;
    background-color: #fafafa;
    .topic-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
      .topic-author {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      .topic-text {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      img {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
      }
  
      .topic-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
      }
    }
  }
  /* 投稿詳細ページ */
  .topic-show-header {
    margin-top: 30px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .topic-show-title {
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  .topic-show-description {
    background-color: white;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 10px;
  }
  
  .topic-show-image {
    background-color: white;
    padding: 30px 0;
  }
  
  /* プロフィール*/
  .users-profile-wrapper {
    padding-top: 60px;
    background-color: #fafafa;
  }
  .mypage-main {
    margin: 20px 0;
    padding: 10px 0 ;
    text-align: center;
  }
  
  .mypage-info {
    background-color: white;
    padding: 15px 0;
  }
  
  .mypage-img {
    display: block;
    text-align: center;
  }
  
  .mypage-stats {
    display: block;
    padding: 1rem 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    display: block;
  }
  .circle {
    border-radius: 50%;  
    width: 200px;  
    height: 200px;  
    object-fit: cover; 
    border: 1px solid #e8e8e8;
  }

  /* 利用者一覧ページ*/
  .users-index-wrapper {
    padding-top: 60px;
    background-color: #fafafa;
  }
  .users-row {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .users {
    background-color: white;
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid rgba(#EEEEEE,1.0);
    }
  }
  .feed-circle {
    text-align: left;
    border-radius: 50%;  
    width: 75px;  
    height: 75px;  
    object-fit: cover; 
    border: 1px solid #e8e8e8;
  }  
  .user_name {
    font-size: 20px;
    margin: 0 20px;
  }
  /* いいね */
  .like-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #808080; 
    margin-left: 20px;
    }
   
   .unlike-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #e54747;
    margin-left: 20px;
    }